%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        lumina => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::lumina',
            },
        },
    },
);

%Image::ExifTool::UserDefined::lumina = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-lumina', 2 => 'Image' },
    NAMESPACE => { lumina => 'https://lumina-select.local/ns/1.0/' },
    WRITABLE => 'string',
    AppVersion => { },
    Backend => { },
    Reasons => { List => 'Bag' },
);

1;
